{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="col-xs-12 page-header">
	<h3>Обо мне</h3>
	<ul class="site-breadcrumbs">
		<li><a href="/">Главная</a></li>
		<li><i class="fa fa-angle-right"></i></li>
		<li>Обо мне</li>
	</ul>
</div>
<div class="col-xs-12 about content">
	<div class="col-xs-12 about-content">
		<div class="col-md-3 about-me-small">
			<div class="col-xs-12 im">
				<img src="{% static 'img/foto.jpg' %}"/>
				<h3><font color="#22ACF5">Pyth</font>man</h3>
				<p>Вячеслав Кандауров</p>
				<p>Fullstack разработчик.</p>
			</div>
		</div>
		<div class="col-md-9 about-me-big">
			<div class="col-xs-12">
				<h5>Коротко обо мне:</h5>
				<p>Люблю веб-разработку и всё, что с ней связано, а ещё люблю музыку — играю на гитаре. 
				Свободное время предпочитаю проводить с друзьями или за ноутбуком в поисках интересных 
				web решений. Нравится фильм Гарри Поттер, машина Tesla model 3, интересные технологии, 
				ну и может ещё интересные люди)).</p>
			</div>
			<div class="col-xs-12">
				<h5>Что умею.</h5>
				<p>Кроссбраузерно верстаю сайты — фиксированные, резиновые или адаптивные. Придумываю и 
				стилизую промежуточные состояния интерактивных элементов, если дизайнер их не нарисовал. 
				Добавляю анимации, если требуется оживить макет. Пишу скрипты для логики на стороне клиента. 
				Перед сдачей проекта оптимизирую производительность — сжимаю и склеиваю стили, 
				скрипты и картинки. Использую современные технологии. Пишу чистый и понятный код, который 
				легко поддерживать.</p>
				<p>Могу писать серверную часть пока только на Python(Django).</p>
			</div>
			<div class="col-xs-12">
				<h5>Мой подход.</h5>
				<p>Если сказать простыми словами, то:</p>
				<ul>
					<li>я вижу разницу в пару пикселей (слёзы наварачиваются когда вижу кривые сайты,
					так и хочется их переделать);</li>
					<li>я вижу разницу в размерах элементов (например неправильное соотношение 
					кнопки к блоку );</li>
					<li>стараюсь разрабатывать фронтенд уже по написанному мной stylegide 
					(общий стиливой критерий);</li>
					<li>придерживаюсь и являюсь техническим пропогандистом минимализма 
					(только то что несёт всебе идея);</li>
					<li>иногда приходится выпиливать лишний код из библиотек (конечно только при 
					понимании того что я делаю);</li>
					<li>после написания кода, просматриваю где можно применить другую методологию, 
					для оптимизации потребляеммых ресурсов и увеличении скорости работы.</li>
				</ul>
			</div>
			<div class="col-xs-12">
				<h5>Что мне интересно.</h5>
				<ul>
					<li>переход между событиями (что происходит когда вы нажимаете кнупку 'home' ? 
					Она перенаправляет вас на станицу домой, правильно, но человеческому глазу не 
					видно как происходит процес перехода, поэтому они и не кажутся нам реалистичными);</li>
					<li>анимация интерфейсов;</li>
					<li>разработка финансовых инструментов;</li>
					<li>разработка инструментов для разработчиков;</li>
					<li>всё что связанно с программированием;</li>
				</ul>
			</div>
			<div class="col-xs-12">
				<h5>Какие технологии я использую:</h5>
				<p>Этот список не полный и он переодически обнавляется (ну это маленький намёк что я 
				постоянно учусь):</p>
				<ul class="tags">
					<li>HTML</li>
					<li>CSS</li>
					<li>Less</li>
					<li>JS</li>
					<li>EJS</li>
					<li>jQuery</li>
					<li>Python</li>
					<li>flask</li>
					<li>Django</li>
					<li>gulp</li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}