{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="col-xs-12 page-header">
	<h3>My contacts</h3>
	<ul class="site-breadcrumbs">
		<li><a href="/">Home</a></li>
		<li><i class="fa fa-angle-right"></i></li>
		<li>Contacts</li>
	</ul>
</div>
<div class="col-xs-12 contacts text-center content">
	<div class="col-xs-12 form-contacts">
		<div class="col-xs-12 icon text-center">
			<a href="#" title="vk"><i class="fa fa-vk"></i></a>
			<a href="#" title="facebook"><i class="fa fa-facebook"></i></a>
			<a href="#" title="google-plus"><i class="fa fa-google-plus"></i></a>
			<a href="#" title="odnoklassniki"><i class="fa fa-odnoklassniki"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
		</div>
		<div class="col-xs-12 text-center or">
			<p>or</p>
		</div>
		<form action="{% url 'feedback' %}" method="post">
			{% csrf_token %}
			{{ form }}
			<button type="submit" class="btn-blue" >Submit</button>
		</form>
	</div>
</div>
{% endblock %}