{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="col-md-12 page-header">
	<h3>My contacts</h3>
	<ul class="site-breadcrumbs">
		<li><a href="/">Home</a></li>
		<li><i class="fa fa-angle-right"></i></li>
		<li>Contacts</li>
	</ul>
</div>
<div class="col-md-12 contacts text-center">
	<div class="col-xs-12 form-contacts">
		<div class="col-xs-12 icon text-center">
			<a href="#" title="vk"><i class="fa fa-vk"></i></a>
			<a href="#" title="facebook"><i class="fa fa-facebook"></i></a>
			<a href="#" title="google-plus"><i class="fa fa-google-plus"></i></a>
			<a href="#" title="odnoklassniki"><i class="fa fa-odnoklassniki"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
		</div>
		<div class="col-xs-12 text-center or">
			<p>or</p>
		</div>
		<form action="{% url 'feedback' %}" method="POST">
			{% csrf_token %}
			<fieldset>
				<group>
					<label>
						<legend>name</legend>
						<input class="alert" type="text" name="user_name" placeholder="name *" requred />
					</label>
					<label>
						<legend>email</legend>
						<input class="alert" type="email" name="user_email" placeholder="name@email.com" required />
					</label>
					<label>
						<legend>websites</legend>
						<input type="url" name="user_site" placeholder="websites" requred />
					</label>
				</group>
			</fieldset>
			<fieldset>
				<label>
					<legend>message</legend>
					<textarea type="text" name="user_msg" class="alert" rows="4" placeholder="text heare..." requred ></textarea>
				</label>
			</fieldset>
			<fieldset>
				<label>
					<button class="btn-blue" type="submit">Отправить</button>
				</label>
			</fieldset>
		</form>
	</div>
</div>
{% endblock %}