{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="col-xs-12 page-header">
	<h4>Мои контакты</h4>
	<ul class="site-breadcrumbs">
		<li><a href="/">Главная</a></li>
		<li><i class="fa fa-angle-right"></i></li>
		<li>Контакты</li>
	</ul>
</div>
<div class="col-xs-12 contacts content">
	<div class="col-xs-12 form-contacts">
		<div class="col-xs-12 icon text-center">
			<a href="https://vk.com/volitilov" title="vk" target="_blank"><i class="fa fa-vk"></i></a>
			<a href="https://www.facebook.com/volitilov" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
			<a href="#" title="google-plus"><i class="fa fa-google-plus"></i></a>
			<a href="https://ok.ru/profile/567774078600" title="odnoklassniki" target="_blank"><i class="fa fa-odnoklassniki"></i></a>
			<a href="https://twitter.com/_volitilov_?lang=ru" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
		</div>
		<form action="{% url 'feedback' %}" method="post">
			{% csrf_token %}
			{{ form }}
			<button type="submit" class="btn-blue" >Отправить</button>
		</form>
	</div>
</div>
{% endblock %}