{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="col-xs-12 page-header">
	<h3>Делаю сайты.</h3>
	<p>Разрабатываю с нуля, доработка существующих, редизайн сайтов, очистка от 
	неиспользуеммого кода, рефакторинг кода, разработка отдельных элементов и скриптов.</p>
	<p></p>
</div>
<div class="col-xs-12 content">
	<ul>
		{% for w in works %}
			{% include 'components/_portfolio-item.html' %}
		{% endfor %}
	</ul>
	<ul>

	</ul>
	<div class="col-xs-12 text-center btn-all">
		<a href="portfolio" title="portfolio" class="btn-blue">смотреть все</a>
	</div>
</div>
{% endblock %}