{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="col-xs-12 page-header">
	<h4>Информация</h4>
	<ul class="site-breadcrumbs">
		<li><a href="/">Главная</a></li>
		<li><i class="fa fa-angle-right"></i></li>
		<li>Информация</li>
	</ul>
</div>
<div class="col-xs-12 info">
	<h4>Часто задаваемые вапросы:</h4>
	<div class="widjet-tree">
		<ul class="tree dropdown">
			<a href="#">
				<span><i class="fa fa-angle-down"></i></span>
				<span>Схема работы со мной ?</span>
			</a>
			<li class="dropdown-togle">
				<ul>
					<li>
						<h5>Определение направления</h5>
						<p>Я задаю вам ряд уточняющих вопросов о вашем бизнесе и 
						продукте чтобы определить какой нужен вам сайт</p>
					</li>
					<li>
						<h5>Анализ</h5>
						<p>Прежде, чем приступить к работе я изучаю информацию, 
						полученную от вас, а также определяю целевую аудиторию будущего сайта</p>
					</li>
					<li>
						<h5>СОСТАВЛЕНИЕ ТЕХНИЧЕСКОГО ЗАДАНИЯ</h5>
						<p>В процессе обсуждения я фиксирую задачи которые должен решать 
						сайт и подбираю функционал для сайта</p>
					</li>
					<li>
						<h5>ВЫБОР ВАРИАНТОВ</h5>
						<p>Я предлагаю варианты реализации сайта с учетом ваших пожеланий, 
						вы утверждаете тот вариант который больше всего нравится</p>
					</li>
					<li>
						<h5>УТВЕРЖДЕНИЕ, ПРЕДОПЛАТА (30%)</h5>
						<p>Убеждаюсь, что будущий сайт, включая дизайн и функционал, нравится вам 
						и полностью решает все поставленные задачи. Получаю предоплату (30%) и 
						приступаю к разработке</p>
					</li>
					<li>
						<h5>ВЕРСТКА И ПРОГРАММИРОВАНИЕ</h5>
						<p>Разработка сайта производится на моем тестовом хостинге, где в любой 
						момент вы можете посмотреть что реализовано, а что еще в процессе разработки</p>
					</li>
					<li>
						<h5>ВЫБОР ХОСТИНГА И ПЕРЕНОС САЙТА</h5>
						<p>По завершению разработки я помогаю подобрать подходящий домен и хостинг куда 
						будет перенесен сайт. Переношу сайт с тестового хостинга на ваш</p>
					</li>
				</ul>
			</li>
		</ul>
		<ul class="tree dropdown">
			<a href="#">
				<span><i class="fa fa-angle-down"></i></span>
				<span>Могу я получить поддержку ?</span>
			</a>
			<li class="dropdown-togle">
				<p>Я всегда на связи и готов оказать помощь в любой момент. 
				Поэтому все те кто сомной работают, всегда знает что помощь рядом, достаточно 
				просто написать сообщение и получить ответ на волнующий вопрос.</p>
			</li>
		</ul>
	</div>
</div>
{% endblock %}