{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="col-xs-12 page-header">
	<h4>Мои услуги</h4>
	<ul class="site-breadcrumbs">
		<li><a href="/">Главная</a></li>
		<li><i class="fa fa-angle-right"></i></li>
		<li>Услуги</li>
	</ul>
</div>
<div class="col-xs-12 services content">
	<div class="col-xs-12 services-wrapper">
		<div class="col-xs-12">
			<h4>На данный момент я оказываю нижеуказанные услуги.</h4>
			<ul>
				<li>Разработка и дизайн интерфейсов.</li>
				<li>Дизайн мобильных приложений.</li>
				<li>Разработка и дизайн сайтов.</li>
				<li>Оптимизация вебсайтов.</li>
				<li>Редизайн.</li>
				<li>Техническая поддержка проектов.</li>
				<li>Адаптивный дизайн.</li>
				<li>Веб анимация.</li>
			</ul>
		</div>
		<div class="col-xs-12">
			<h4>Остались вопросы?</h4>
			<p>Если у вас остались вопросы то поситите страницу с <a href="{% url 'info' %}" title="info">информацией</a>. 
			Если вы там уже были и всёравно у вас остались вопросы, то вам <a href="{% url 'contacts' %}" title="contacts">сюда</a>.</p>
		</div>
	</div>
</div>
{% endblock %}