{% load staticfiles %}
<footer>
	<div class="col-xs-12 footer-body">
		<div class="col-xs-12 follow">
			<h4>Подписка или контакты</h4>
			<p>Если интерсны мои произведения искусства) тогда подпишись на меня в соц. сетях,<br>
			также ты можеш со мной свзаться через соц. сети.</p>
			<ul>
				<li><a href="https://www.facebook.com/volitilov" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#" title="google-plus"><i class="fa fa-google-plus"></i></a></li>
				{# <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li> #}
				{# <li><a href="#"><i class="fa fa-youtube"></i></a></li> #}
				<li><a href="https://twitter.com/_volitilov_?lang=ru" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
				<li><a href="https://ok.ru/profile/567774078600" title="odnoklassniki" target="_blank"><i class="fa fa-odnoklassniki"></i></a></li>
				{# <li><a href="#"><i class="fa fa-instagram"></i></a></li> #}
				<li><a href="https://codepen.io/volitilov/" title="codepen"><i class="fa fa-codepen"></i></a></li>
				<li><a href="https://www.behance.net/volitilov1ebb" title="behance"><i class="fa fa-behance"></i></a></li>
				<li><a href="https://vk.com/volitilov" title="vk" target="_blank"><i class="fa fa-vk"></i></a></li>
			</ul>
		</div>
		<div class="col-xs-12 footer-menu">
			<ul>
				<li><a href="/">Главная</a></li>
				<li><a href="{% url 'about' %}">Обо мне</a></li>
				<li><a href="{% url 'portfolio' %}">Портфолио</a></li>
				<li><a href="{% url 'info' %}">Информация</a></li>
				<li><a href="{% url 'services' %}">Услуги</a></li>
				<li><a href="{% url 'contacts' %}">Контакты</a></li>
			</ul>
		</div>
		<div class="col-xs-12 language">
			<ul>
				<li><a href="#">
					<span><img src="{% static 'img/flags_2/rus.png' %}" alt="rus"></span>
					<span>RUS</span>
				</a></li>
				<li><a href="#">
					<span><img src="{% static 'img/flags_2/eng.png' %}" alt="eng"></span>
					<span>ENG</span>
				</a></li>
				<li><a href="#">
					<span><img src="{% static 'img/flags_2/deu.png' %}" alt="deu"></span>
					<span>DEU</span>
				</a></li>
				<li><a href="#">
					<span><img src="{% static 'img/flags_2/fra.png' %}" alt="fra"></span>
					<span>FRA</span>
				</a></li>
				<li><a href="#">
					<span><img src="{% static 'img/flags_2/ita.png' %}" alt="ita"></span>
					<span>ITA</span>
				</a></li>
			</ul>
		</div>
	</div>
	<div class="col-xs-12 footer-copyright">
		<p>Copyright  © 2017 <strong><font color="#02a8f3">Pythman</font></strong> All Rights Reserved.</p>
	</div>
</footer>