{% load staticfiles %}
<footer>
	<div class="col-xs-12 footer-body">
		<div class="col-xs-12 follow">
			<h4>Foollow me or contact me</h4>
			<p>Get notified when we release new web templates.</p>
			<ul>
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
				<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
				<li><a href="#"><i class="fa fa-youtube"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-odnoklassniki"></i></a></li>
				<li><a href="#"><i class="fa fa-instagram"></i></a></li>
				<li><a href="#"><i class="fa fa-codepen"></i></a></li>
				<li><a href="#"><i class="fa fa-behance"></i></a></li>
				<li><a href="#"><i class="fa fa-vk"></i></a></li>
			</ul>
		</div>
	</div>
	<div class="col-xs-12 footer-copyright">
		<p>Copyright  © 2016 <strong><font color="#02a8f3">volitilov.com</font></strong> All Rights Reserved.</p>
	</div>
</footer>