{% load staticfiles %}
<nav class="navbar head">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<i class="fa fa-bars"></i>
			</button>
			<a class="navbar-brand" href="/">
				<span><img src="{% static 'img/foto.jpg' %}"/></span>
				<span>
					<h3>Pythman</h3>
					<h6>Веб разработчик</h6>
				</span>
			</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/">Главная</a></li>
				<li><a href="{% url 'about' %}">Обо мне</a></li>
				<li><a href="{% url 'portfolio' %}">Портфолио</a></li>
				<li><a href="{% url 'info' %}">Информация</a></li>
				<li><a href="{% url 'services' %}" class="btn-border">Услуги</a></li>
				<li><a href="{% url 'contacts' %}" class="btn-blue">Контакты</a></li>
			</ul>
		</div>
	</div>
</nav>