{% load staticfiles %}
<div class="col-xs-12 col-md-4 sidebar">
	<!-- <h4>Share Template</h4>
	<ul class="text-left">
		<li><a href="#"><i class="fa fa-facebook"></i></a></li>
		<li><a href="#"><i class="fa fa-twitter"></i></a></li>
		<li><a href="#"><i class="fa fa-vk"></i></a></li>
		<li><a href="#"><i class="fa fa-odnoklassniki"></i></a></li>
		<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
		<li><a href="#"><i class="fa fa-behance"></i></a></li>
	</ul> -->
	<div class="freebie-meta">
		<div class="freebie-meta-item">
			<h5>Дата публикации:</h5>
			<p><strong>{{ work.published_date }}</strong></p>
		</div>
		<div class="freebie-meta-item">
			<h5>Название:</h5>
			<p><strong>{{ work.title }}</strong></p>
		</div>
		<div class="freebie-meta-item">
			<h5>Описание:</h5>
			<p>{{ work.description }}</p>
		</div>
		<div class="freebie-meta-item">
			<h5>Технологии:</h5>
			<ul class="tags">
				{% for category in work.category.all %}
					<li>{{ category }}</li>
				{% endfor %}
			</ul>
		</div>
		
		<div class="freebie-btn">
			<ul>
				<!-- <li><a class="btn-border likes" href="{{ work.pk }}">
					<span><i class="material-icons">favorite_border</i></span>
					<span>Понравилось?</span>
					<span class="cnt">{{ work.likes }}</span>
				</a></li> -->
				<!-- <li><a class="btn-border" href="{{ work.download }}">
					<span><i class="fa fa-cloud-download"></i></span>
					<span>Скачать</span>
					<span class="cnt">{{ work.likes }}</span>
				</a></li> -->

				<li><a class="btn-blue" href="{{  work.project_url }}" target="_blank">
					<span><i class="fa fa-eye"></i></span>
					<span>Посмотреть</span>
					<!-- <span class="cnt">{{ work.previews }}</span> -->
				</a></li>
			</ul>
		</div>
	</div>
</div>