.services {
	padding: 20px;
	padding-bottom: 70px;
	padding-left: 175px;
	padding-right: 170px;
	h3 {
		font-weight: normal;
	}
	p {
		font-size: 15px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	ul, ol {
		padding-left: 15px;
		li {
			padding: 3px;
			list-style: decimal;
			font-size: 15px;
			line-height: 1.5;
			color: #666;
		}
	}
}